@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
body {
    background-color: #131313;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: auto;
    margin: auto;
}

.maintitle {
    font-size: 1.5em;
    color: #FFFFFF;
    text-align: center;
    place-content: center;
    align-items: center;
    margin-top: 20vh;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 10em;
}

section {
    display: grid;
    place-content: center;
    align-items: center;
    min-height: 75vh;
}
.gradient {
    background: linear-gradient(
        to right,
        rgb(13, 209, 209),
        rgb(57, 240, 51)
    );
    -webkit-background-clip: text;
    color: transparent;
    background-size: 200% auto;
    animation: gradientAnimation 3s linear infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 200% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.alt {
    font-size: 1em;
    text-align: center;
    place-content: center;
    align-items: center;
    margin-top: -3vh;
}

.highlight {
    background: linear-gradient(
        to right,
        rgb(255, 255, 255),
        rgb(255, 255, 255)
    );
    color: #000;
    animation: highlightAnimation 3.5s linear;
}

@keyframes highlightAnimation {
    0% {
        background-size: 200% 100%;
    }
    100% {
        background-size: 0% 50%;
    }
}

.highlight-animation {
    animation: highlightAnimation 0.5s forwards;
}