@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');


body {
    background-color: #131313;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: auto;
    margin: auto;
}


.loader {
  width: 40px;
  aspect-ratio: 1.154;
  --_g: no-repeat radial-gradient(farthest-side,#fff 90%,#0000);
  background: 
    var(--_g) 50%  0,
    var(--_g) 0    100%,
    var(--_g) 100% 100%;
  background-size: 35% calc(35%*1.154);
  animation: l16 linear 1s infinite;
}

@keyframes l16{ 
    50%,100% {background-position: 100% 100%,50% 0,0 100%} 
}



.maintitle {
    font-size: 1.5em;
    color: #FFFFFF;
    text-align: center;
    place-content: center;
    align-items: center;
    margin-top: 20vh;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 10em;
}

section {
    display: grid;
    place-content: center;
    align-items: center;
    min-height: 75vh;
}
.gradient {
    background: linear-gradient(
        to right,
        rgb(13, 209, 209),
        rgb(57, 240, 51)
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 200% auto;
    animation: gradientAnimation 3s linear infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 200% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.alt {
    font-size: 1em;
    text-align: center;
    place-content: center;
    align-items: center;
    margin-top: -3vh;
}

.highlight {
    background: linear-gradient(
        to right,
        rgb(255, 255, 255),
        rgb(255, 255, 255)
    );
    color: #000;
    animation: highlightAnimation 1.5s linear infinite;
    animation-direction: alternate;
}

@keyframes highlightAnimation {
   
  0%{
     -webkit-clip-path: ellipse(20px 20px at -2.54% -9.25%);
    clip-path: ellipse(20px 20px at -2.54% -9.25%);
  }
  50%{
    -webkit-clip-path: ellipse(20px 20px at 49.66% 64.36%);
    clip-path: ellipse(20px 20px at 49.66% 64.36%);

  }
  100%{
     -webkit-clip-path: ellipse(20px 20px at 102.62% -1.61%);
    clip-path: ellipse(20px 20px at 102.62% -1.61%);
  }
}
