@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
body {
    background-color: #131313;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: auto;
    margin: auto;
}
h1 {
    text-align: center;
    font-size: 2.5rem;
    margin: 20px 0;
}
section {
    display: center;
    place-content: left;
    align-items: left;
    min-height: 0;
}
