@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
body {
    background-color: #131313;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: auto;
    margin: auto;
}
.centerobjects{
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    display: flex;
    place-content: center;
    align-items: center;
    min-height: 0;
}
